<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hangman App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css">
    <script src="app.js"></script>
</head>
<body ng-app="HangmanApp" ng-controller="GameController">

      <div class="container">
      
     <h1 class="hang"> HangmanApp</h1>

	<div>
		Guesses Left :: {{guesses}}
	</div>
	<div>
		<div class="correct" >
			Correct Letters :: <span ng-repeat="letter in correctLettersChosen">{{letter}}</span>
		</div>
		<div class="incorrect" >
			Incorrect Letters :: <span ng-repeat="letter in incorrectLettersChosen">{{letter}}</span>
		</div>
	</div>
	<div style="font-size: 30px;"> {{displayWord}}</div>
	<div>
		<input type="text" name="guess" ng-model="input.letter" ng-minlength="1" ng-maxlength="1" ng-pattern="/^[A-Za-z]+$/">
		<button class='btn' ng-click="letterChosen()">SUBMIT</button>
	</div>

     </div> 
     <!-- div end -->
</body>
</html>